@import (inline) url('../node_modules/bootstrap/dist/css/bootstrap.css');
@blue: #239ed7;
@green: #5db87b;
body {
    background: #f2f4f8;
}
#app {
    .navbar-brand {
        float: left;
        width: 120px;
        height: 35px;
        margin: 8px 20px 0 0;
        text-indent: -999em;
        border-radius: 17px;
        background: url('./img/logo.png') center center no-repeat;
        // background: url('./img/logo-opacity.png') center center;
        opacity: .85;
        &:hover {
            opacity: 1;
        }
    }
}