@import (inline) url('../node_modules/bootstrap/dist/css/bootstrap.css');
@blue: #239ed7;
@green: #5db87b;

.ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow:ellipsis;
}
body {
    background: #f2f4f8;
}
#app {
    .navbar {
        margin-bottom: 15px;
    }
    .navbar-header {
        float: none;
        .pull-right {
            padding-right: 20px;
            color: #666;
        }
    }
    .navbar-brand {
        float: left;
        width: 120px;
        height: 34px;
        margin: 7px 0 0 15px;
        text-indent: -999em;
        border-radius: 17px;
        background: url('./img/logo.png') center center no-repeat;
        // background: url('./img/logo-opacity.png') center center;
        opacity: .85;
        &:hover {
            opacity: 1;
        }
    }
    .nav {
        padding: 15px 0 10px;
        .parent a {
            margin-top: 10px;
            text-indent: 0;
            color: #555;
            font-weight: bold;
        }
        .indent a {
            text-indent: 2.5em;
            font-size: 12px;
        }
        .active a {
            color: #69a;
        }
        a {
            display: block;
            padding: 6px 15px;
            text-indent: 1.5em;
            color: #777;
        }
    }
    .body-container {
        display: -webkit-flex;
        display: flex;
        > .navbar {
            width: 200px;
        }
    }
    .container {
        width: 100%;
    }
    .card-panel-holder {
        .panel-body {
            padding: 8px 8px 0;
            > p {
                .ellipsis()
            }
            > [class*="col-"] {
                padding: 0 6px 6px;
                .panel {
                    margin: 4px 0;
                }
            }
        }
    }

    table {
        &, th {
            text-align: right;
        }
        td {
            padding: 3px;
        }
        th:first-child,
        td:first-child {
            text-align: center;
        }
    }
}